@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MVC</h1>
</div>
<form action="Home/DoLogin">
    <div>
        <div>
            <label for="txtUser">User Name:</label>
            <input type="text" name="txtUser" required placeholder="Enter UserID" />
        </div>
        <div>
            <label for="txtpwd">Password:</label>
            <input type="password" name="txtpwd" required placeholder="Enter Password" />
        </div>
        <div>
            <input type="submit" value="Login" />
        </div>
    </div>
</form>

<div>
    <a href="Home/SayHello?name=Saurabh Kumar">SayHello</a>
</div>
<div>
    <a href="Home/Add?x=11&y=11">Add</a>
</div>
<div>
    <a href="Home/Multiply?x=11&y=11">Multiply</a>
</div>
<div>
    <a href="Home/Divide?x=11&y=11">Divide</a>
</div>
<div>
    <a href="Home/AddNewBook">New Book</a>
</div>
<div>
    <a href="Home/ListAllBooks">All Books</a>
</div>

