@model MVCAuthor.Models.Author
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Author Codex</h1>
</div>
<div class="text-center">
    <a href ="Author">Author Landing Page</a>
</div>