
@{
    ViewData["Title"] = "GetTime";
}

<h1>GetTime</h1>
<h1>Time: @ViewData["data"]</h1>
<div>
    <form action="GetTime">
        <input class="btn btn-danger" type="submit" value="HitMe" />
    </form>
</div>

