
@{
    ViewData["Title"] = "IndexPost";
}

<h1>IndexPost</h1>
<div>
    <h3> ViewDataX: @ViewData["x"]</h3>
    <h3> TempDataX: @TempData["globalX"]</h3>
    <h3> ViewDataY: @ViewData["globaly"]</h3>
</div>

