@{
    ViewData["Title"] = "Home Page";
    var parms = new Dictionary<string, string>
    {
        {"x","11"}
    };
    TempData["globalX"] = 100;
    ViewData["globaly"] = 100;

}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class=" = col-md-4">
    <form method="post" asp-all-route-data="parms">
        @*taghelper*@
        <div>
            @Html.Label("name")
            @Html.TextBox("name","Enter Name")
        </div>
        <div>
            @Html.Label("password")
            <input type="password" name="password" placeholder="Enter the password" />
        </div>
        <input type="submit" name="btnsubmit" value="Hitme" />
    </form>
</div>