
@{
    ViewData["Title"] = "Menu";
}

<h1>Menu</h1>

<div class="jumbotron">
    <div> INR: &#8377</div>
    <div>
        <a asp-action="Echo" asp-route-name="Saurabh"
           asp-route-City="Chennai">Call Echo</a>|
        <a asp-action="SayHello" asp-route-name="Saurabh">Call SayHello</a>
    </div>
</div>
