
@{
    ViewData["Title"] = "_BookList";
}

<h1>from Books List</h1>
<ul>
    <li>Wasted in engineering</li>
    <li>It happens for a reason</li>
    <li>The leader in you</li>
    <li>The One Minute manager</li>
</ul>

