
@{
    ViewData["Title"] = "ChildList";
}

<h1>ChildList</h1>
<div style="background-color: cyan">
    <hr/>
    <h1>ChildView</h1>
    <ul>
        <li>Benz</li>
        <li>Innova</li>
        <li>tesla</li>
    </ul>
</div>
