
@{
    ViewData["Title"] = "MyView";
}

<h1>MyView</h1>
<hr />
<h1>andaman Beaches List</h1>
<ul>
    <li>RadhaNagar</li>
    <li>Neal Island</li>
    <li>Ross Island</li>
    <li>Wandoor</li>
</ul>
<hr />

